@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;800&display=swap');

$default-font: 'Sofia Sans', sans-serif;

$background: #e5e5e5;
$white: #e2e3e5;
$blue: #5d5fef;
$light-blue: #d0ecff;
$grey: #f3f4f6;
$dark-grey: #c4c4c4;
$black: #111827;
$light-black: #6b7280;

$default-font: 'Inter', sans-serif;
